= partial 'layouts/header'
- if current_account.blank?
  .container
    %p.ribbon
      %strong.ribbon-content<
      今日のお題に沿って、一番イケてる選曲を出来るのはだれだ！？
    = partial 'layouts/footer'
- else
  .container
    %p#theme 今日のテーマ
    %p.ribbon
      %strong.ribbon-content<
      #{TodaysTopic.new.get.topic}
    #playlists
      - if get_all_playlist_by_topic.present?
        - get_all_playlist_by_topic.each do |list|
          - if list.videos.present?
            %a{:href => "/show/#{list.id}"}
              .songs_list
                .list_inner
                  %ul
                    - list.videos.each do |video|
                      %li<
                        %img{:alt => "#{video.title}", :src => "#{video.thumbnail_url}"}